.update{
    min-height: 30vh;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    margin-top: 25vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
}
.update .update-top{
    height: 30%;
    background-color: #F6F8FA;
}
.update .update-details{
    height: 40%;
    border-bottom: 2px solid #f7f7f7;
}
.update .update-actions{
    height: 30%;
}
